Language:        Cpp
BasedOnStyle:  LLVM
AllowShortFunctionsOnASingleLine: Empty
AlignConsecutiveMacros: true
BinPackParameters: false
BraceWrapping:
  AfterClass:      true
IndentCaseLabels: true
IndentGotoLabels: false
# IndentWidth: 4

